@media (max-width: 42rem) {
    /* GLOBAL STYLES */

    :root {
        --fs-400:1.2rem;
        --fs-600:3.2rem;
    }

    /* HEADER */

    header {
        height:9rem;
        flex-direction: column;
        gap:0rem;
    }

    header>p:last-child {
        margin-top:-16px;
    }
}